body {
}

td { text-align: left; }

div.PageContent
{
}

.ButtonClass
{
  border: thin groove #000000;
  vertical-align: bottom;
  color: #000000;
  background-color: #99FFCC;
}




/*HEADER*/
div.Header
{
    background-color: yellow;
    height: 200px;
}

div#HeaderMain
{
    position: relative;
    margin-left: 10px;
}



