body {
}

td { text-align: left; }

div.PageContent
{
}



/*HEADER*/
div.Header
{
    background-image:url("Images/8==D.jpg");
    background-repeat:no-repeat;
    height: 70px;
}

div#HeaderMain
{
    position: relative;
    margin-left: 10px;
}



