

body
        {
            background-color: white;
        }

        #formWachtwoordVergeten, .FormTables, #form1
        {
            background-color: white;
            -moz-box-shadow: 0 0 3px #ccc;
            -webkit-box-shadow: 0 0 3px #ccc;
            box-shadow: 0 0 10px #ccc;
            opacity: 1;
            padding: 10% 5%;
        }

        #test
        {
            width: 200%;
            height: 200px;
            background-color: red;
        }

.checkboxstyle input{
    display: block;
    float: left;
    
    white-space: nowrap;
    vertical-align:top;
}

label {

    display: block;
    float: left;
    /*padding-left: 5px;*/
    padding-left:2%;
    white-space: nowrap;
    
}

div.PageContent
{
    /*position:relative;*/
    margin-left: 2%;
}

.MenuFilter
{
    background-color: white;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
    opacity: 1;
}

.buttonLabel
{
    width: 200px;
	margin: 60px auto;
	border: 1px solid #222;
	background-color: #ececec;
	border-radius: 6px;
	box-shadow: 0 1px 1px #777;
}


.ButtonClass
{
  border: thin groove #000000;
  vertical-align: bottom;
  color: #000000;
  background-color: #99FFCC;
}


/*HEADER*/
div.Header
{
    background-image:url("Images/APlogo.jpg");
    background-repeat:no-repeat;
    height: 70px;
}

div#HeaderMain
{
    position: relative;
    margin-left: 10px;
}

div#ButtonsAccount
{
    float: right;
    position: relative;
    margin-top: 2%;
    margin-right: 5%;
}

