<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" /> <!-- VOOR HET DEPLOYEN OP FALSE ZETTEN-->
      <httpRuntime targetFramework="4.5" />
      <pages validateRequest="false" enableViewState="true" viewStateEncryptionMode="Always" />
      <customErrors mode="RemoteOnly" />
      <trace enabled="false" localOnly="true" />
      <httpCookies httpOnlyCookies="true" />
    </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
</configuration>

